.page {
    box-sizing: border-box;
    max-width: 1280px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    background: #2A2C2F;

}

/* header */
.header {
    margin: 0 48px;
    padding: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 52px;
}

.header__lang {
    display: flex;
    gap: 18px;
}

.header__lang-link {
    text-decoration: none;
    color: #FFFFFF;

}

.header__lang-link_active {
    text-decoration-line: underline;
}

/* lead */
.lead {
    margin: 0 148px;
    height: 1005px;
}

.lead__title {
    margin: 0 auto;
    padding-bottom: 32px;
    max-width: 720px;
    width: 100%;
    min-height: 200px;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    margin: 0 auto;
    padding-bottom: 64px;
    max-width: 640px;
    width: 100%;
    min-height: 72px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.lead__image {
    margin: 0 auto;
    background-image: url("./images/lead-polka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 984px;
    width: 100%;
    height: 615px;
}

.lead__caption {
    margin: 0;
    padding-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


/* intro */
.intro {
    margin: 92px 0;
    padding-left: 148px;
    max-width: 690px;
    min-height: 429px;
}

.intro__title {
    margin: 0;
    max-width: 690px;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    margin: 0;
    padding-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
}

/* photo-grid */
.photo-grid {
    margin: 0 48px 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
}

/* places  */
.places {
    display: grid;
}

.place {
    align-items: flex-start;
    margin: 0 148px 80px;
    display: grid;
    max-width: 984px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 460px;
    column-gap: 40px;
    row-gap: 48px;
}

.place__title {
    margin: 0;
    align-self: end;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.place__image {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 460px;
    max-height: 460px;
    width: 100%;
}

.place__website {
    align-self: end;
}

.place__url-heading {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.place__paragraph {
    margin: 0 0 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-child {
    margin: 0;
}


/* cover */
.cover {
    margin: 0 48px;
    max-width: 1184px;
    height: 740px;
    position: relative;
}

.cover__title {
    margin: 0 auto;
    padding: 245px 0 32px;
    max-width: 560px;
    height: 152px;
    position: relative;
    z-index: 10;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    height: 66px;
    position: relative;
    z-index: 10;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.cover__overlay {
    width: 1184px;
    height: 740px;
    top: 0;
    left: 0;
    position: relative;
    background: #2A2C2F;
    background-size: cover;
    opacity: 0.3;
    z-index: 2;
}

.cover__background {
    position: absolute;
    top: 0;
    left: 0;
    background: url("./images/cover-trains.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* footer */
.footer {
    margin: 92px 48px 0;
    padding-bottom: 24px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: 50px 57px 94px 86px 106px 1fr;
    gap: 18px;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
    align-self: center;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    justify-self: end
}



@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }

    .lead {
        margin: 0 48px;
    }

    .intro {
        margin: 92px 0;
        padding-left: 48px;
    }

    .photo-grid {
        margin: 0 48px 92px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }

    .place {
        margin: 0 48px 80px;
        max-width: 984px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 460px;
        column-gap: 32px;
        row-gap: 48px;
    }

    .cover {
        margin: 0 48px;
        max-width: 1024px;
        height: 640px;
    }

    .cover__title {
        padding: 195px 0 32px;
    }

    .cover__overlay {
        max-width: 1024px;
        height: 640px;
    }

}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }

    .lead {
        margin: 0;
    }

    .intro {
        margin: 88px 24px;
    }

    .photo-grid {
        margin: 0 48px 92px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 16px;
    }


    /* ОСТАНОВИЛСЯ ЗДЕСЬЬЬ!!!!!!! */
    /* ОСТАНОВИЛСЯ ЗДЕСЬЬЬ!!!!!!! */
    /* ОСТАНОВИЛСЯ ЗДЕСЬЬЬ!!!!!!! */
    /* ОСТАНОВИЛСЯ ЗДЕСЬЬЬ!!!!!!! */
    /* ОСТАНОВИЛСЯ ЗДЕСЬЬЬ!!!!!!! */
    /* ОСТАНОВИЛСЯ ЗДЕСЬЬЬ!!!!!!! 
     |
    \ /
     |  */



    .place {
        margin: 0 48px 80px;
        max-width: 984px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 460px;
        column-gap: 32px;
        row-gap: 48px;
    }

    .cover {
        margin: 0 48px;
        max-width: 1024px;
        height: 640px;
    }

    .cover__title {
        padding: 195px 0 32px;
    }

    .cover__overlay {
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 320px) {}