.lead {
    margin: 0 auto;
    max-width: 984px;
    width: 100%;

}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
<<<<<<< HEAD
=======
        width: 100%;
>>>>>>> 6a11cd3041c03776d0e954ac54ae15f782a1ef82
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
<<<<<<< HEAD
=======
        width: 100%;
>>>>>>> 6a11cd3041c03776d0e954ac54ae15f782a1ef82
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
<<<<<<< HEAD
=======
        width: 100%;
>>>>>>> 6a11cd3041c03776d0e954ac54ae15f782a1ef82
    }
}