.lead__image {
    margin: 0 auto;
    background-image: url("../../../images/lead-polka.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 984px;
    width: 100%;
    padding-bottom: calc(615 / 984 * 100%);
}