.cover {
    position: relative;
    margin: 12px 48px 0;
    max-width: 1184px;
    max-height: 740px;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: calc(740 / 1184 * 100%);
    position: absolute;
    background: #2A2C2F;
    background-size: cover;
    opacity: 0.3;
    z-index: 2;
}

.cover:hover::before {
    background: #2A2C2F;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 0px;
        max-width: 1024px;
        max-height: 640px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 0;
        max-width: 320px;
        max-height: 200px;
    }
}