.cover__background {
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    max-width: 1184px;
    height: 0;
    padding-bottom: calc(740 / 1184 * 100%);
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: block;

}

.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity .5s linear;
}

.cover__background:hover::before {
    opacity: 0.8;
}